button {
  padding: 5px 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease-in-out all;

}
button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  transition: 0.3s ease-in-out all;
}
