.light .navbar {
  // світла тема для нав бару
  --navbar-background-color: #ffffff;
  background-color: var(--navbar-background-color);
  --text-color: #2b3134;
}

.dark .navbar {
  // темна тема для нав бару
  --navbar-background-color: #222736;
  background-color: var(--navbar-background-color);
  --text-color: #ffffff;
}

.navbar {
  border-radius: 10px;
  margin: 20px;
  transition: background-color 0.3s ease;
  .navbar-container {
    background-color: var(--navbar-background-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .toggle-btn {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 20px;
      padding: 0;

    }
    .menu-items {
      width: 100%;
      margin-top: 20px;

      .menu-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        .icon {
          display: block;
          font-size: 20px;
          width: min-content;
        }

        .text {
          margin-left: 5px;
          font-size: 12px;
          transition: color 0.3s ease;
        }
      }
    }
  }
}
