.theme-switcher {
  position: absolute;
  top: 20px;
  right: 20px;
  button {
    transition: 0.3s ease-in-out all;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 30px;
    padding: 0;
  }
  button:hover {
    transition: 0.3s ease-in-out all;
  }
}


